.container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.resinfoname {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.resinfodescript {
    color: #555555;
    width: 70%;
    
}

.ProfilePic {
    width: 100%;
    position: relative;
    top: -10px;
}

.FoodCategory {
    padding-left: 40px;
    padding-top: 50px;
    font-size: 22px;
    font-weight: bold;
}

.MenuItemBox {
    position: relative;
    display: flex;
    bottom: 0;
    margin-top: 20px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 10px;
    height: 200px;
    width: 360px;
    overflow: hidden;
    flex-direction: column;
}

.MenuItem {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.ingridients {
    color: #555555;
    padding-left: 10px;
}

.prize {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flexx {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}