.MDDBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    background-color: rgb(240, 240, 240);
    right: 0%;
    top: 99px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.CartItem {
    padding-top: 15px;
    
}

.CartPrize {
    padding-left: 30px;
    font-weight: bold;

}

.TotalPrize {
    border-top: 1px black;
    margin-top: 30px;
    padding-bottom: 30px;

}

.TotalPrizePrize {
    font-weight: bold;
    margin-left: 10px;
}

.Button {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}


