.MDDBox {
    position: sticky;
    top: 100px;
    background-color: rgb(240, 240, 240);
    width: 20%;
    float: right;
}

.CartItem {
    padding-left: 17px;
    padding-top: 13px;
    

}


.CartPrize {
    padding-left: 30px;
    font-weight: bold;

}

.TotalPrize {
    border-top: 1px black;
    margin-top: 30px;
    padding-left: 17px;
    padding-bottom: 30px;
    text-decoration: underline; 

}

.TotalPrizePrize {
    font-weight: bold;
}